.venv/
__pycache__/
*.pyc
output/
.idea/
.vscode/
*.png
*.jpg
*.json
!requirements.txt
!tests/assets/*.png
!config/*.json
!assets/decks/*/recognition_index/
!assets/decks/*/recognition_index/*
!assets/decks/*/card_mapping.json
